.titulo-principal {
    padding-inline: 20px !important;
}

  
/* Add a black background color to the top navigation */
.topnav {
    float: left !important;
    background-color: rgb(71, 71, 71);
    overflow: hidden;
    width: 100%;

}
  
/* Style the links inside the navigation bar */
.topnav a {
float: left;
display: block;
color: hsl(0, 0%, 100%);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
}

/* Add an  activeclass to highlight the current page */

.topnav a.active {
background-color: #0c0c0c;
color: white;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
display: none;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Add an active class to highlight the current page */

.topnav a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
  display: none;
}


#banner {
    width:100%;
}

.principal {
    background: #000000;
    padding: 10px;
    word-wrap:normal;
    text-align: center;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
    font-family: Helvetica;
    background: #000000;
    color: #ffffff;
    font-size: 21px;
    word-wrap:normal;
}
h1 {
    color: rgb(0, 0, 0);
  }
h2 {
    color: rgb(0, 0, 0);
  }
body {
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: Helvetica;
  }
em strong {
    color:rgb(255, 255, 255);
    font-size: 21px;
}

#mision {
    font-size: 21px;
    font-family: Helvetica;
}

.diferenciales {
    background: #000000;
    padding: 20px;
}

.items {
    font-family: Helvetica, sans-ser;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales {
    width: 50%;
}
